<% if item.send(relationship.name).last %>
	<%= item.send(relationship.name).last.streamlined_name(streamlined_def.fields, streamlined_def.separator) %>
<% else %>
	<%= relationship.unassigned_value %>
<% end %>